<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create New Landmark</title>
 </head>
  <body>

    <form action="/figures" method="post">
      Enter new landmark name:
      <br><input type="text" id="landmark_name" name="landmark[name]" size="75"></input><br><br>

      Enter year completed:
      <br><input type="number" id="landmark_year_completed" name="landmark[year_completed]" size="75"></input><br><br>

      <input type="submit" value="Create New Landmark">
    </form>

  </body>
</html>
