
<table>
  <!DOCTYPE html>
  <html>
   <head>
    <meta charset="UTF-8">
    <title>Landmark</title>
   </head>
    <body>
      <table>
        <tr>
          <th>Name</th>
          <th>Year Completed</th>
        </tr>
        <tr>
          <td><%= @landmark.name %></td>
          <td><%= @landmark.year_completed.to_s %></td>
        </tr>
    </body>
  </html>
