<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Figures List</title>
 </head>
  <body>
    <h1>Figures List</h1>
    <ul style="list-style: none;"><% @figures.each do |figure| %>
      <li><%= figure %></li>
    <%end%></ul>
  </body>
</html>
