<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Figures List</title>
 </head>
  <body>

    <h1>Figures List</h1>
    <ul style="list-style: none;"><%= Figure.all.each do |figure| %>
      <li><%= figure.name %></li>
    <%end%></ul>

  </body>
</html>
